<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" type="text/css" href="https://necolas.github.io/normalize.css/3.0.2/normalize.css">
    </head>
    <body>
    	{% include "flashMessages.html.twig" %}
    	
    	{% block navigation %}
    		<nav>
    			<ul>
    				<li>
    					<a href="{{ url('index_page') }}">Home</a>
    				</li>
    				<li>
    					<a href="{{ url('download_feed') }}">Download XML</a>
    				</li>
    				<li>
    					<a href="{{ url('display_grid') }}">Display datas</a>
    				</li>
    			</ul>
    		</nav>
    	{% endblock %}
    	
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
